body {
  margin: 0px;
  background-color: #190019;
  display: grid;
  place-items: center;
  height: 100vh;
}
.maze-canvas {
  background-color: #6ef5e3;
  border: solid 2px #6ef5e3;
  z-index: 0;
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
}
.player-canvas {
  position: absolute;
  z-index: 1;
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
}
.center {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  border: solid #fbe4d8 2px;
}
.left-pane {
  position: relative;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.right-pane {
  position: relative;
  display: grid;
  flex-direction: column;
  align-items: center;
  background-color: #522b5b;
  padding: 40px;
}
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: magenta;
}
